.aupgrade {
    display: grid;
    grid-template-columns: 50% auto;
    background-image: url("../ressources/ange.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
    border : solid black 2px;
    padding-bottom: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    
    }

.nameaupgrade{
    position : relative;
    left : 10px;
    top : 5px;
    font-size: 20px;
}

.description2{
    position : relative;
    left: 10px;
    color : black;
    font-size: 10px;

}
 
.titre {
    font-family:'Mochiy Pop P one';
    font-size : 20px; 
    position : relative;

}

.desc{
    font-family: 'Mochiy Pop P one';
    padding-bottom: 50px;
}

.prix5 {
    position:relative;
    left: 105px;
    top: 10px;
  display: inline-block;
  border-radius: 4px;
  background-color:#308efe ;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 8px;
  padding: 5px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

.prix5 h1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.prix5 h1:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.5s;
}

.prix5:hover h1 {
  padding-right: 25px;
}

.prix5:hover h1:after {
  opacity: 1;
  right: 0;
}



.prix5 h1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.prix5 h1:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.5s;
}